body{
    /* make the body zoom by 125% */
    zoom: 125%;
}
main{
    color: aliceblue;
}

mark{
    background-color: #5536df; /* lighter background color */
    color: #f2f8ff;
    background-origin: padding-box;
    border-radius: 5px; /* add rounded corners */
}

.content {
    list-style: circle;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}


.typed{
    font-size: 70px;
     margin: 0px;
      margin-top: 15px;
       word-wrap: break-word;
}
.article-title{
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #3B82F6;
}

img.article-banner{
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 5px;
}

.article-body{
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 1rem;
}

.article-body h2{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.article-body h3{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.article-body h4{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.article-body p{
    margin-bottom: 1rem;
}

.article-body a{
    color: #3B82F6;
}

.article-body a:hover{
    color: #F8FAFC;
}

.article-body img{
    width: 100%;
    margin-bottom: 1rem;
}

.article-body ul{
    margin-bottom: 1rem;
}

.article-body ol{
    margin-bottom: 1rem;
}

.article-body li{
    margin-bottom: 1rem;
}

.article-body blockquote{
    margin: 1rem auto;
    padding: 1rem;
    background-color: #1d2226;
    border-radius: 10px;
    border-left: 5px solid #3B82F6;
    box-shadow: 0 0 5px #3B82F6;
    text-align: left;
    max-width: 90%;
    display: flex;
    justify-content: center;
    margin-right: 5%;
}

.article-body pre{
    margin-bottom: 1rem;
    padding: 1rem;
    background-color: #1d2226;
    border-left: 5px solid #3B82F6;
    border-radius: 5px;
    box-shadow: 0 0 10px #3B82F6;
}

.article-body code{
    text-align: left;
    display: block;

    background-color: #1d2226;
    border-radius: 5px;
    font-family: 'Fira Code', monospace;
    box-shadow: 0 0 10px #3B82F6;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #2b2b2b;
    color: #c5c8c6;
  }
  .hljs-comment,
  .hljs-quote {
    color: #8fa1b3;
    font-style: italic;
  }
  .hljs-doctag,
  .hljs-keyword,
  .hljs-formula {
    color: #61afef;
  }
  .hljs-section,
  .hljs-name,
  .hljs-selector-tag,
  .hljs-deletion,
  .hljs-subst {
    color: #e06c75;
  }
  .hljs-literal {
    color: #d19a66;
  }
  .hljs-string,
  .hljs-regexp,
  .hljs-addition,
  .hljs-attribute,
  .hljs-meta-string {
    color: #98c379;
  }
  .hljs-built_in,
  .hljs-class .hljs-title {
    color: #56b6c2;
  }
  .hljs-attr,
  .hljs-variable,
  .hljs-template-variable,
  .hljs-type,
  .hljs-selector-class,
  .hljs-selector-attr,
  .hljs-selector-pseudo,
  .hljs-number {
    color: #d19a66;
  }
  .hljs-symbol,
  .hljs-bullet,
  .hljs-link,
  .hljs-meta,
  .hljs-selector-id,
  .hljs-title {
    color: #61afef;
  }
  .hljs-emphasis {
    font-style: italic;
  }
  .hljs-strong {
    font-weight: bold;
  }

/* make page responsive */
@media screen and (max-width: 600px) {
    .typed {
        font-size: 40px;
        margin-top: 10px;
      }
    

    .article-title{
        font-size: 2rem;
        max-width: 90%;
    }
    .article-body{
        font-size: 1rem;
    }
    .article-body h2{
        font-size: 1.5rem;
    }
    .article-body h3{
        font-size: 1.2rem;
    }
    .article-body h4{
        font-size: 1rem;
    }
    .article-body blockquote{
        margin: 0.5rem auto;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .article-body pre{
        margin-bottom: 0.5rem;
        padding: 0.5rem;
        font-size: 0.8rem;
    }
    .article-body code{
        font-size: 0.8rem;
    }
}
@media screen and (max-width: 400px) {
    .typed {
      font-size: 30px;
      margin-top: 15px;
    }
  }