header {
  background: linear-gradient(90deg, #3b82f6 0%, #3b82f6 50%, #3b82f680 100%);
  padding: 4rem 3rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  animation: wobble 5s ease-in-out alternate infinite;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 2rem;
}
header h1 {
  margin: 0;
  padding: 0;
}
.header-button {
  display: inline-block;
  background: #fff;
  padding: 1rem 0.8rem;
  margin: 0;
  text-decoration: none;
  color: inherit;
  border-radius: 7px;
  width: fit-content;
  color: var(--primary-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: 300ms;
  border: 2px solid #fff;
}
.header-button:hover {
  background: #fff2;
  color: #fff;
  border-color: #fff;
  text-decoration: underline;
}

.typed{
  display: inline-block;
  width: fit-content;
  position: relative;
  font-size: 1.3rem;
  /* make max length */
  max-width: 50%;
}
.typed::after {
  content: "";
  width: 2px;
  height: 100%;
  background: #fff;
  position: absolute;
  left: -5px;
  top: 0;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.all-articles-link {
  color: rgb(0, 140, 255);
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.3rem;
}

@keyframes wobble {
  0% {
    border-radius: 0 0 20% 10% / 0 0 20% 20%;
  }
  100% {
    border-radius: 0 0 50% 30% / 0 0 20% 20%;
  }
}

/* make the header responsive and it's content */
@media screen and (max-width: 600px) {
  header {
    padding: 2rem 1rem;
  }
  header h1 {
    font-size: 1.5rem;
  }
  .header-button {
    padding: 0.5rem 0.5rem;
  }
}