.articles {
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}
.article {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 1rem;
  border: 1px solid #2222;
  transition: 300ms;
  background-color: #3b3e42;
}
.article .thumbnail {
  margin-left: auto;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: #64646f66 0px 7px 29px 0px;
}
.article .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.article-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.article-firstpart {
  font-size: 0.9rem;
  color: #CBD5E1;
  margin: 0.5rem 0;
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
  height: 2rem;
  text-overflow: ellipsis;
}
a.article {
  text-decoration: none;
  color: inherit;
}
.article:hover{
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  border-color: var(--primary-color);
}
.article .more-info {
  display: flex;
  gap: 0.5rem;
  margin-top: auto;
}
.article .more-info .date{
  font-size: 0.8rem;
  color: #222;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  border: 1px solid #2222;
  background: #f2f2f2;
}
.article .more-info .tag{
  font-size: 0.8rem;
  color: #222;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  background: var(--primary-color);
  color: #fff;
}

@media screen and (max-width: 768px) {
  .articles {
    grid-template-columns: auto;
  }
}