.arrow {
  display: inline-block;
  font-size: 2rem;
  cursor: pointer;
}
.xflip {
  transform: scaleX(-1);
}

.reviews-list {
  display: flex !important;
  flex-direction: row;
  display: block;
  align-items:baseline;
  justify-content:space-between;
}

.review {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.reviewer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.reviewer img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 10%;
}
.reviewer .name{
    color: #F8FAFC;
}

.review-text{
    color:#0F172A;
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding: 1rem;
    margin: 0;
    text-align: center;
    background: #CBD5E1;
    border: 1px solid var(--primary-color);
    border-radius: 3rem 1rem 2rem 1rem;
}

/* make the reviews list responsive and it's content */
@media screen and (max-width: 900px) {
  .reviews-list {
    display: flex !important;
    flex-direction: column;
    display: block;
    align-items:baseline;
    justify-content:space-between;
  }
  .review {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .review img{
    width: 60%;
    aspect-ratio: 1/1;
    object-fit: contain;
    border-radius: 10%;
  }
  .reviewer .name{
    color: #F8FAFC;
    font-size: 1.5rem;
  }
}
  .review-text{
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .arrow {
    display: none;
  }
}