

.facts {
    display: flex;
    gap: 1rem;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.guage {
    display: grid;
    place-items: center;
    width: 164px;
    height: 164px;
    border-radius: 50%;
    cursor: default;
    vertical-align:top;
    text-align:center;
    position:relative;


  }

  .guage-inner {
    display: grid;
    place-items: center;
    width: 136px;
    height: 136px;
    border-radius: 50%;
    background: #0F172A;
    font-size: 1.5rem;
}

  .guage.teal {
    color: #3B82F6;
    background: conic-gradient(#3B82F6 0% 20%, #303238 20% 100%);
  }

  .guage.pink {
    color: #d051eb;
    background: conic-gradient(#d051eb 0% 34%, #303238 34% 100%);
  }

  .guage.white {
    color: #ffffff;
    background: conic-gradient(#ffffff 0% 18%, #303238 18% 100%);
  }

