/* 
:root {
--brand-color: #3B82F6;
--dark-color: #0F172A;
--mid-color: #CBD5E1;
--light-color: #F8FAFC;
  }
*/
.team {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
  float: right;
}
.team-section
{
	text-align: center;
}

.inner-width
{
	max-width: 1200px;
	margin: auto;
	padding: 40px;
	color: #CBD5E1;
	overflow: hidden;
}

.team-section h1
{
	font-size: 20px;
	text-transform: uppercase;
	display: inline-block;
	border-bottom: 4px solid;
	padding-bottom: 10px;
}

.pe
{
	float: left;
	width: calc(100% / 2);
	overflow: hidden;
	padding: 40px 0;
	transition: 0.4s;
}

.pe:hover
{
	background: #305786;
}

.pe img
{
	width:250px;
	height: 250px;
	border-radius: 25%;
}

.p-name
{
	margin: 5px;
	text-transform: uppercase;
}

.p-des
{
	font-style: italic;
	color: #3B82F6;
}

.p-sm
{
	margin-top: 6px;
}

.p-sm a
{
	margin: 0 4px;
	display: inline-block;
	width: 30px;
	height: 30px;
	transition: 0.4s;
}

.p-sm a:hover
{
	transform: scale(1.3);
}

.p-sm a i
{
	color: #CBD5E1;
	line-height: 30px;
}
