/* 
:root {
--brand-color: #3B82F6;
--dark-color: #0F172A;
--mid-color: #CBD5E1;
--light-color: #F8FAFC;
  }
*/

/* vars start */
:root {
  --page-width: 80%;
  --primary-color: #3b82f6;
  --secondary-color: #3b3e42;
  --background: #0f172a;
}
/* vars end */
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: var(--background);
  font-family: "Almarai", sans-serif;
  overflow-x: hidden;
}

/* navbar start */
nav {
  background: var(--background);
  color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 999;
}
nav .inner-nav {
  display: flex;
  width: var(--page-width);
  margin: auto;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: auto;
}
nav img {
  height: 2rem;
}
nav a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  display: flex;
  list-style: none;
}
nav li {
  padding: 0.4rem 1rem;
  position: relative;
}
nav li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 50%;
  translate: -50%;
  background: var(--primary-color);
  transition: 200ms ease-out;
}
nav li:hover::after {
  width: 100%;
}
/* navbar end */

