/* vars start */
:root{
    --page-width: 70%;
    --primary-color: dodgerblue;
}
/* vars end */

body{
    padding: 0;
    margin: 0;
    background: #222;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* navbar start */
nav{
    background: #fff;
}
nav .inner-nav{
    display: flex;
    width: var(--page-width);
    margin: auto;
}
nav .logo{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-right: auto;
}
nav img{
    height: 2rem;
}
nav a{
    text-decoration: none;
    color: inherit;

}
nav ul{
    display: flex;
    list-style: none;
}
nav li{
    padding: 0.4rem 1rem;
    position: relative;
}
nav li::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 50%;
    translate: -50%;
    background: var(--primary-color);
    transition: 200ms ease-out;
}
nav li:hover::after{
    width: 100%;
}
/* navbar end */
