/* 
:root {
--brand-color: #3B82F6;
--dark-color: #0F172A;
--mid-color: #CBD5E1;
--light-color: #F8FAFC;
  }
*/

/* vars start */
:root {
  --page-width: 80%;
  --primary-color: #3b82f6;
  --secondary-color: #3b3e42;
  --background: #0f172a;
}
/* vars end */
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  background: var(--background);
  font-family: "Almarai", sans-serif;
  overflow-x: hidden;
}


/* Hide the scrollbar */
/* body::-webkit-scrollbar {
  display: none;
} */

/* Add a custom scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #076bc9;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3B82F6;
}
  
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #076bc9 #F3F4F6;
}

*::-moz-scrollbar-thumb {
  background-color: #076bc9;
  border-radius: 5px;
}

*::-moz-scrollbar-thumb:hover {
  background-color: #3B82F6;
}

*::-moz-scrollbar-track {
  background-color: #F3F4F6;
  border-radius: 5px;
}


.star {
  position: fixed;
  z-index: -1;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 10px white;
  animation: moveStars 20s linear infinite, twinkle 1s infinite, swingStars 10s ease-in-out infinite;
}

@keyframes moveStars {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-200%);
  }
}

@keyframes twinkle {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes swingStars {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(100deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/* navbar start */
nav {
  background: var(--background);
  color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  top: 0;
  z-index: 999;
}
nav .inner-nav {
  display: flex;
  width: var(--page-width);
  margin: auto;
}
nav .logo {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-right: auto;
}
nav img {
  height: 2rem;
}
nav a {
  text-decoration: none;
  color: inherit;
}
nav ul {
  display: flex;
  list-style: none;
  transition: 300ms;
}
nav li {
  padding: 0.4rem 1rem;
  position: relative;
  text-align: right;
}
nav li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 50%;
  translate: -50%;
  background: var(--primary-color);
  transition: 200ms ease-out;
}

nav li:hover::after {
  width: 100%;
}

nav li.active::after {
  width: 100%;
}

nav .hambuger-button {
  display: none;
}
/* navbar end */

/* navbar responsive start */
@media screen and (max-width: 768px) {
  nav .inner-nav {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
  }
  nav .logo {
    margin: 0;
  }

  nav .hambuger-button {
    display: block;
    cursor: pointer;
    width: 16px;
    aspect-ratio: 1;
    position: relative;
  }
  nav .hambuger-button .line{
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    transition: 300ms;
    position: absolute;
  }

  .line-1{
    top: 0;
    left: 0;
  }
  .line-2{
    top: 7px;
    left: 0;
  }
  .line-3{
    bottom: 0;
    left: 0;
  }

  nav .hambuger-button.closed .line {
    background: #fff;
  }
  nav .hambuger-button.closed{
    overflow: hidden;
  }
  nav .hambuger-button.closed:hover .line{
    background: var(--primary-color);
  }
  nav .hambuger-button.closed .line-2{
    opacity: 0;
  }
  nav .hambuger-button.closed .line-1 {
    opacity: 1;
    transform-origin: left;
    rotate: 45deg;
    top: -1px;
    width: 150%;
  }
  nav .hambuger-button.closed .line-3 {
    opacity: 1;
    transform-origin: left;
    rotate: -45deg;
    bottom: -1px;
    width: 150%;
  }

  nav ul.menu-closed {
    overflow: hidden;
    margin: 0;
    height: 0;
  }
}
